; this is pseudocode right now

(defwire validate-transaction
  {"country" "Italy" "language" "Italian" "currency" "Euro"} (ToBytes) = .data

  "Text(TextCategories::Json)" = .category

  .category
  (Maybe
    ;:Shards
    (Match [
            "Text(TextCategories::Json)" (-> .data (ToJson) true)
            "Texture(TextureCategories::PngFile)" (-> .data (ExpectImage)) true]
            :Passthrough true)
    ;:Else
    false
    ;:Silent
    false))


(defmesh root)
(schedule root validate-transaction)
(run root 0.1)
