(load-file "common.edn")

(defwire add-dummy-proto-and-dummy-metadata
  = .add-asset-n (Log "processing asset")

  (| (Math.Add 1) = .add-asset-n-plus-1)
  (| (Math.Add 2) = .add-asset-n-plus-2)

  (Do make-test-asset) = .test-asset
  [.test-asset .add-asset-n .add-asset-n] (Do test-upload-compressing)
  (| (Take 0) = .frag-cid-str)
  (| (Take 1) = .frag-hash-outer)
  (| (Take 2) = .frag-owner-outer)

  "monalisa.jpeg" (FS.Read :Bytes true) (Log "image pointer is") = .image-data
  [.frag-owner-outer .frag-hash-outer .image-data "image" .add-asset-n-plus-1 .add-asset-n-plus-1] (Do test-set-metadata)

  {"name" "monalisa" "desc" "iconic, priceless, renaissance art"} (ToJson) (ToBytes) = .json-data
  [.frag-owner-outer .frag-hash-outer .json-data "json_description" .add-asset-n-plus-2 .add-asset-n-plus-2] (Do test-set-metadata))

(defwire main
  0 (Do add-dummy-proto-and-dummy-metadata))

(schedule root wait-port)
(if (run root 0.1) nil (throw "wait-port failed (ha fallado)"))

(schedule root main)
(if (run root 0.1) nil (throw "upload failed"))