(deftrait Fragnova-Account
  :private-key "//Alice")

(load-file "fragnova.edn")

(def call-data-to-upload-number "0x0b0000000000000000") ; encoded call data that defines a call to `protos.upload()` with certain hardcoded parameters. See: https://polkadot.js.org/apps/?rpc=wss%3A%2F%2Fws.fragnova.network#/extrinsics/decode/0x0b0000000000000000

(def set-metadata-index 2819) ; call index of `protos.set_metadata()` ; 2819 is 0x0b03

(defwire upload-number-as-proto
  = .number
  .number (ToBytes) = .data

  call-data-to-upload-number (HexToBytes) >= .upload-call-data
  [.data] (Substrate.Encode [nil]) (AppendTo .upload-call-data)

  .upload-call-data (Do (get Fragnova-Node :send-signed-extrinsic))

  .data (Hash.Blake2-256) (Log "Uploaded Proto With Proto Hash") = .proto-hash

  )

(defwire set-metadata
  [set-metadata-index .proto-hash .metadata-key .metadata-data] (Substrate.Encode ["u8", nil, nil, nil])
  (Do (get Fragnova-Node :send-signed-extrinsic)))


(defwire create-proto
  = .number
  (upload-number-as-proto) = .proto-hash

  "json_description" = .metadata-key
  {"name" "monalisa" "desc" "iconic, priceless, renaissance art"} (ToJson) (ToBytes) = .metadata-data
  (set-metadata)

  "image" = .metadata-key
  "monalisa.jpeg" (FS.Read :Bytes true) = .metadata-data
  (set-metadata))

(defwire main
  (Setup
   (get Fragnova-Node :setup))

  1 (create-proto))

(defmesh root)
(schedule root main)
(run root 0.1)
